/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    background-color:#000000;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}



/* INFO */

.title {
    position:absolute;
    margin:0px;
    width:60%;
    left:10%;
    top:20%;

    animation:fade2 10000ms infinite;
    -webkit-animation:fade2 10000ms infinite;
}

.subtitle {
    position:absolute;
    margin:0px;
    width:80%;
    left:10%;
    top:30%;

    animation:fade2 10000ms infinite;
    -webkit-animation:fade2 10000ms infinite;
}

/* LOGO */

.light {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  animation:fade1 10000ms infinite;
  -webkit-animation:fade1 10000ms infinite;
}


/* LINKS */
a {
  text-decoration: none;
  color: #E4E4E4;
}

/* PARAGRAPHS */
p {
  text-decoration: none;
  text-align:left;
  color: #505050;
  font-size:16px;
  font-weight:normal;
  margin:0px;
  overflow:visible;
  padding:0px;
}

/* TABLE */

.dataTable {
  font: 18px helvetica, sans-serif;
  padding-left: 0px;
  padding-right: 15px;
  color: #A8B1B8;
}

/* TEXT */

h1 {
    color:#E4E4E4;
    font-size:36px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:left;
}

h2 {
    color:#E4E4E4;
    font-size:18px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

/* ANIMATION */

@keyframes fade1 {
    from { opacity: 0.6; }
    50% { opacity: 0.1; }
    to { opacity: 0.6; }
}

@-webkit-keyframes fade1 {
    from { opacity: 0.6; }
    50% { opacity: 0.1; }
    to { opacity: 0.6; }
}

@keyframes fade2 {
    from { opacity: 0.9; }
    50% { opacity: 0.5; }
    to { opacity: 0.9; }
}

@-webkit-keyframes fade2 {
    from { opacity: 0.9; }
    50% { opacity: 0.5; }
    to { opacity: 0.9; }
}

.blink {
    animation:fade1 10000ms infinite;
    -webkit-animation:fade1 10000ms infinite;
}
