<section>
	<div ng-controller="AboutController">
		<div ng-swipe-left="changeView('/light')" ng-click="changeView('/light')">

				<div id="about">
				  <div class="title">
				      <H1>ABOUT</H1>
				  </div>
				  <div class="subtitle">
				      <br>
				      <p>
								Created by <a href="http://jesses.co.tt/" target="_blank"> Jesse Scott </a>
							</p>
				      <p>
								From an original idea by <a href="http://www.kellyandres.com/" target="_blank"> Kelly Andres </a>
							</p>
				      <br>
				      <p>
								Made with <a href="http://phonegap.com/" target="_blank"> PhoneGap </a>
								and <a href="https://angularjs.org/" target="_blank"> Angular </a>
							</p>
				      <p>
								And utilizing <a href="https://github.com/mourner/suncalc" target="_blank"> SunCalc </a>
							</p>
				  </div>
				</div>

		</div>
	</div>
</section>
