<section>
	<div ng-controller="DataController">
		<div ng-swipe-left="changeView('/about')" ng-click="changeView('/about')">

				<div id="data">
					<div class="title">
						<H1>DATA</H1>
					</div>
					<div class="subtitle">
						<p>stuff</p>
					</div>
				</div>

		</div>
	</div>
</section>


<!-- DATA -->
<!-- <div id="data" style="display:none">
		<div class="title">
				<H1>DATA</H1>
		</div>
		<div class="subtitle">
				<table id="dataTable" class="dataTable">
					<tr>
					</tr>
					<tr>
						<td>
							LAT
						</td>
						<td>
							---
						</td>
					</tr>
					<tr>
						<td>
							LON
						</td>
						<td>
							---
						</td>
					</tr>
					<tr>
						<td>
							RISE
						</td>
						<td>
							---
						</td>
					</tr>
					<tr>
						<td>
							SET
						</td>
						<td>
							---
						</td>
					</tr>
					<tr>
						<td>
							LIGHT
						</td>
						<td>
							---
						</td>
					</tr>
				</table>
		</div>
</div> -->
