<section class="">

	<div id="data">
		<div class="title">
			<H1>DATA</H1>
		</div>
		<div class="subtitle">
			<table id="dataTable" class="dataTable">
				<tr>
				</tr>
				<tr>
					<td>
						LAT
					</td>
					<td>
						---
					</td>
				</tr>
				<tr>
					<td>
						LON
					</td>
					<td>
						---
					</td>
				</tr>
				<tr>
					<td>
						RISE
					</td>
					<td>
						---
					</td>
				</tr>
				<tr>
					<td>
						SET
					</td>
					<td>
						---
					</td>
				</tr>
				<tr>
					<td>
						LIGHT
					</td>
					<td>
						---
					</td>
				</tr>
			</table>
		</div>
	</div>

</section>