name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  android-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Grant execute permission to gradlew
        run: chmod +x app/gradlew

      - name: Build with Gradle
        run: ./gradlew :androidApp:assembleDebug
        working-directory: ./app

  ios-build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Grant execute permission to gradlew
        run: chmod +x app/gradlew

      - name: Build with Gradle
        run: ./gradlew :shared:linkReleaseFrameworkIos
        working-directory: ./app
